__pycache__/
*.pyc

.pytest_cache/

*.log

docker-compose.test.yaml
docker-compose.yaml

data/datasets/**/*
!data/datasets/.gitkeep
!data/datasets/*/
!data/datasets/*/.gitkeep

data/expected/**/*
!data/expected/.gitkeep

data/output/**/*
!data/output/.gitkeep

output/*
!output/.gitkeep


/venv

data/rates/
data/monitor/
