__pycache__/
*.pyc

.pytest_cache/

*.log

data/datasets/**/*
!data/datasets/.gitkeep
!data/datasets/*/
!data/datasets/*/.gitkeep

data/expected/**/*
!data/expected/.gitkeep

data/output/**/*
!data/output/.gitkeep

output/*
!output/.gitkeep
